body {
    background-color: white;
    font-family: "Quiska";
    padding: 15em;
    border: 10px;
    border-color: lightblue;
    
}

p {
    font-size: 1.2rem;
    font-family: "Brodies";
}

@font-face {
        font-family: "Brodies" ;
        src: url(font/brodies.ttf) format('truetype');
}

@font-face {
    font-family: "Quiska";
    src: url(font/Quiska.ttf) format('truetype');
}

h1 {
    font-size: 3rem;
    text-align: center;
    margin-top: 1.5em;
    padding: 1em;
}

h2, h3, h4, h5, h6 {
    font-size: 2rem;
    background-color: white;
    padding: 0.5em;
    padding-bottom: 0.2em;
    text-align: left;
}

img.him {
    padding: 1.3em;
    
}

img.police {
    float: right;
    padding: 1.3em;
}