@font-face {
    font-family: "Brodies";
    src: url(font/brodies.ttf) format('truetype');
}

@font-face {
    font-family: "Wigenda";
    src: url(font/Wigenda.ttf) format('truetype');
}

@font-face {
    font-family: "Wigenda";
    src: url(font/Wigenda-Bold.ttf) format('truetype');
    font-weight: bold;
    }

header {
    font-size: 1.5rem;
    text-align: center;
    background-color: #cdeefd;
    padding: .01em 0em 1px 0em;
    font-family: "Brodies";
}

nav {
    background-color: lightcoral;
    padding: 0.1px;
    margin-top: 10px;
    color: white;
}

main {
    display: block;
    background-color: white;
    font-family: "Brodies";
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    font-size: 2.5rem;
    text-align: center;
}

hr.top {
    margin-top: 2.5em;
}

h3 {
    display: block;
    font-size: 2rem;
    background-color: white;
    padding-top: .5em;
    padding-bottom: .01em;
    text-align: left;
    
}

p {
    font-size: 1.2rem;
    font-family: "Wigenda";
    text-indent: 2.5em;
    line-height: 1.75rem;
    font-weight: bold;
}

img.him {
    display: block;
    padding: 1.3em;
    margin-left: auto;
    margin-right: auto;    
}

figure {
    display: block;
    padding: 1em;
    border: solid .25em lightcoral;
    margin: 2rem;
      
}

figcaption {
    text-align: center;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    font-family: "Wigenda";
    font-style: italic;
    font-size: 1.1rem;
}

img.police {
    display: block;
    padding: 1.3em;
    margin-left: auto;
    margin-right: auto;
}

p.footer {
    display: block;
    background-color: #cdeefd;
    text-indent: 1em;
    padding: 1.5rem;
}

p.email {
    display: block;
    background-color: lightcoral;
    text-indent: 2em;
    padding-bottom: .25em;
    padding-top: .25em;
    color: white;
}

